*.iml
*.gradle
*.gradle.*
/gradle/
/gradle-wrapper.jar
/gradle-wrapper.properties
.gradletasknamecache
/build/
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Storge
/build
/captures
.externalNativeBuild
.cxx
local.properties
